/* Especificidad */

.title{
    background-color: black;
    color: green;
    text-transform: uppercase;
}

*{
    background-color: lightgray;
    color: white;
}

span{
    color: blue;
}

header{
    background-color: blue;
    width: 100%;
    padding: 10px;
}

header h1{
    font-size: 2cm;
}

header h1 .title{
    color: orangered;
}

span::after{
    content: ' Antonio ';
}